node-red-contrib-ui/node-red-contrib-ui-sample.json
[
    {
        "id": "6a048aec.8b3fe4",
        "type": "inject",
        "z": "87394a82.590968",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 99,
        "y": 177,
        "wires": [
            [
                "bb38922a.26a85"
            ]
        ]
    },
    {
        "id": "bb38922a.26a85",
        "type": "function",
        "z": "87394a82.590968",
        "name": "Random number",
        "func": "msg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 176,
        "y": 253,
        "wires": [
            [
                "b57354d0.85f518",
                "2b0c2a6a.234656",
                "10b3551a.d61a9b",
                "a6b97a8a.76ad08",
                "1ff576dc.7a5cc9"
            ]
        ]
    },
    {
        "id": "b57354d0.85f518",
        "type": "debug",
        "z": "87394a82.590968",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 394,
        "y": 214,
        "wires": []
    },
    {
        "id": "2b0c2a6a.234656",
        "type": "ui_chart",
        "z": "87394a82.590968",
        "tab": "bf448b71.e78148",
        "name": "",
        "group": "1",
        "order": 1,
        "interpolate": "linear",
        "nodata": "No Data",
        "removeOlder": "5",
        "removeOlderUnit": "60",
        "x": 388,
        "y": 282,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "10b3551a.d61a9b",
        "type": "ui_gauge",
        "z": "87394a82.590968",
        "tab": "bf448b71.e78148",
        "name": "Gauge",
        "group": "1",
        "order": 1,
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "x": 386,
        "y": 353,
        "wires": []
    },
    {
        "id": "a6b97a8a.76ad08",
        "type": "ui_slider",
        "z": "87394a82.590968",
        "tab": "bf448b71.e78148",
        "name": "Slider",
        "topic": "",
        "group": "2",
        "order": 1,
        "min": 0,
        "max": "100",
        "x": 383,
        "y": 425,
        "wires": [
            []
        ]
    },
    {
        "id": "1ff576dc.7a5cc9",
        "type": "ui_text",
        "z": "87394a82.590968",
        "tab": "bf448b71.e78148",
        "name": "Text",
        "group": "2",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 381,
        "y": 498,
        "wires": []
    },
    {
        "id": "bf448b71.e78148",
        "type": "ui_tab",
        "z": "87394a82.590968",
        "name": "Home",
        "icon": "dashboard",
        "order": "1"
    }
]