Artik-nodes-sample/artik-adc-nodes/artik-adc-nodes-flow-on-artik.json
[{"id":"c5af3ed4.84781","type":"fred out","z":"1115fb04.52cbf5","name":"","server":"","client":"32c29980.ffc156","x":479,"y":380,"wires":[]},{"id":"6fee83ca.81f93c","type":"fred in","z":"1115fb04.52cbf5","name":"","server":"","client":"6117533e.0a7bbc","x":150,"y":63,"wires":[["958edbe.d948728"]]},{"id":"958edbe.d948728","type":"json","z":"1115fb04.52cbf5","name":"","x":165,"y":142,"wires":[["27b87524.e29c9a"]]},{"id":"27b87524.e29c9a","type":"artik_adc","z":"1115fb04.52cbf5","name":"","pin":"0","platform":"artik_10","x":248,"y":228,"wires":[["bac35dc.69cd3a"]]},{"id":"bac35dc.69cd3a","type":"function","z":"1115fb04.52cbf5","name":"delete session","func":"delete msg._session;\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":313,"wires":[["c5af3ed4.84781"]]},{"id":"32c29980.ffc156","type":"fred-client","z":"1115fb04.52cbf5","endpoint":"artikADCReceive","private":false,"username":"demotutorial","wholemsg":"false"},{"id":"6117533e.0a7bbc","type":"fred-client","z":"1115fb04.52cbf5","endpoint":"artikADCSend","private":false,"username":"demotutorial","wholemsg":"false"}]