HTML-chat-app/advance-chat-app.json
[
    {
        "id": "5ec458f1.138c38",
        "type": "websocket in",
        "z": "87394a82.590968",
        "name": "",
        "server": "b7aff9e4.169148",
        "client": "",
        "x": 144,
        "y": 91,
        "wires": [
            [
                "131b8e85.9779d1",
                "97364bef.9c82e8"
            ]
        ]
    },
    {
        "id": "131b8e85.9779d1",
        "type": "debug",
        "z": "87394a82.590968",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 379,
        "y": 61,
        "wires": []
    },
    {
        "id": "97364bef.9c82e8",
        "type": "json",
        "z": "87394a82.590968",
        "name": "",
        "x": 187,
        "y": 160,
        "wires": [
            [
                "9b78abe3.c07f38"
            ]
        ]
    },
    {
        "id": "9b78abe3.c07f38",
        "type": "change",
        "z": "87394a82.590968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.msg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 271,
        "y": 211,
        "wires": [
            [
                "63d531b4.527cb"
            ]
        ]
    },
    {
        "id": "63d531b4.527cb",
        "type": "sentiment",
        "z": "87394a82.590968",
        "name": "",
        "x": 405,
        "y": 265,
        "wires": [
            [
                "a66309be.4927f8"
            ]
        ]
    },
    {
        "id": "a66309be.4927f8",
        "type": "function",
        "z": "87394a82.590968",
        "name": "",
        "func": "return {\n    payload: {\n        msg:msg.data.msg,\n        timestamp:msg.data.timestamp,\n        sentiment:msg.sentiment.score\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 497,
        "y": 213,
        "wires": [
            [
                "553dfff1.fcc6b",
                "5eca304b.486fb"
            ]
        ]
    },
    {
        "id": "553dfff1.fcc6b",
        "type": "websocket out",
        "z": "87394a82.590968",
        "name": "",
        "server": "a3eb30ea.807f8",
        "client": "",
        "x": 608,
        "y": 138,
        "wires": []
    },
    {
        "id": "d09ce1bf.a2d58",
        "type": "websocket in",
        "z": "87394a82.590968",
        "name": "",
        "server": "67607e72.dda2",
        "client": "",
        "x": 146,
        "y": 395,
        "wires": [
            [
                "f07dfe56.0b79c"
            ]
        ]
    },
    {
        "id": "f07dfe56.0b79c",
        "type": "template",
        "z": "87394a82.590968",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!doctype html>\n<html lang=\"en\">\n<head>\n <meta charset=\"utf-8\">\n <title>FRED-powered chat app</title>\n <script src=\"https://code.jquery.com/jquery-1.11.3.min.js\"></script>\n <script src=\"https:///code.jquery.com/jquery-migrate-1.2.1.min.js\"></script>\n <style>\n #messages {border-color:#999; border-style:solid; width:250px; min-height:200px; margin:5px;}\n .msg {color:#FFF; background-color:#2980B9; padding:2px; margin:2px;}\n .server {color:#999; background-color:white; font-size:small;}\n .sentiment-3 {background-color:#992222;}\n .sentiment0 {background-color:#2980B9;}\n .sentiment3 {background-color:#229922;}\n #form {margin:5px;}\n #form input {width:250px;}\n </style>\n</head>\n<body>\n <div id=\"messages\"></div>\n <form id=\"form\" onsubmit=\"return false;\">\n <input id=\"text\" type=\"text\" onkeypress=\"return sendText(event)\" />\n </form>\n \n <script type=\"text/javascript\">\n \n // Open a websocket using FRED.\n var publishSocket = new WebSocket(\"wss://{yourusername}.fred.sensetecnic.com/api/public/messagereceive\");\n var listenSocket = new WebSocket(\"wss://{yourusername}.fred.sensetecnic.com/api/public/messagepublish\");\n \n listenSocket.onmessage = function (event) {\n // When receiving a message append a div child to #messages\n data = JSON.parse(event.data);\n $(\"#messages\").append(\"<div class='msg sentiment\"+data.sentiment+\"' >\"+data.timestamp+\" - \"+data.msg+\"</div>\")\n if ($(\"#messages\").children().length > 10 ) { $(\"#messages :first-child\").remove()}\n }\n \n listenSocket.onclose = function(event){\n $(\"#messages\").append(\"<div class='msg server'>Disconnected from server.</div>\");\n }\n \n listenSocket.onopen = function(event){\n $(\"#messages\").append(\"<div class='msg server'>Connected to server.</div>\")\n }\n \n function sendText(event) {\n // Only if return key pressed\n if (event.keyCode == 13) {\n // Construct object containing the data the server needs.\n d = new Date();\n var data = {\n msg: $(\"#text\").val(),\n timestamp: d.getHours() +\":\"+ d.getMinutes() + \":\" + d.getSeconds()\n };\n // Send the msg object as a JSON-formatted string.\n publishSocket.send(JSON.stringify(data));\n // Blank the text input element\n $(\"#text\").val(\"\");\n }\n }\n </script>\n \n</body>\n</html>",
        "x": 220,
        "y": 471,
        "wires": [
            [
                "2e432626.e511ba"
            ]
        ]
    },
    {
        "id": "2e432626.e511ba",
        "type": "http response",
        "z": "87394a82.590968",
        "name": "",
        "x": 358,
        "y": 414,
        "wires": []
    },
    {
        "id": "5eca304b.486fb",
        "type": "debug",
        "z": "87394a82.590968",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 643,
        "y": 245,
        "wires": []
    },
    {
        "id": "b7aff9e4.169148",
        "type": "websocket-listener",
        "z": "87394a82.590968",
        "path": "/public/messagereceive",
        "wholemsg": "false"
    },
    {
        "id": "a3eb30ea.807f8",
        "type": "websocket-listener",
        "z": "87394a82.590968",
        "path": "/public/messagepublish",
        "wholemsg": "false"
    },
    {
        "id": "67607e72.dda2",
        "type": "websocket-listener",
        "z": "87394a82.590968",
        "path": "/public/chatroom",
        "wholemsg": "false"
    }
]