Artik-nodes-sample/artik-out-nodes/artik-adc-nodes-flow-on-artik.json
[{"id":"9e04cd70.de40c","type":"fred out","z":"890ce43c.afbce8","name":"","server":"","client":"1c2e5775.bf4cf9","x":485,"y":391,"wires":[]},{"id":"a9ca5537.52e068","type":"fred in","z":"890ce43c.afbce8","name":"","server":"","client":"9103ae44.db4fd","x":156,"y":74,"wires":[["554b3a5e.e7f104"]]},{"id":"554b3a5e.e7f104","type":"json","z":"890ce43c.afbce8","name":"","x":171,"y":153,"wires":[["d89e0f60.7493e"]]},{"id":"d89e0f60.7493e","type":"artik_adc","z":"890ce43c.afbce8","name":"","pin":"0","platform":"artik_10","x":254,"y":239,"wires":[["ad8abf5e.a4e22"]]},{"id":"ad8abf5e.a4e22","type":"function","z":"890ce43c.afbce8","name":"delete session","func":"delete msg._session;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":324,"wires":[["9e04cd70.de40c"]]},{"id":"1c2e5775.bf4cf9","type":"fred-client","z":"890ce43c.afbce8","endpoint":"artikADCReceive","private":false,"username":"demotutorial","wholemsg":"false"},{"id":"9103ae44.db4fd","type":"fred-client","z":"890ce43c.afbce8","endpoint":"artikADCSend","private":false,"username":"demotutorial","wholemsg":"false"}]