SQLite-litedb-node/litedb-tutorial.json
[
    {
        "id": "35881632.6e706a",
        "type": "litedb",
        "z": "e6691547.05bc98",
        "name": "",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "de6e047c.26add8"
            ]
        ]
    },
    {
        "id": "cfe9844b.ad9ba8",
        "type": "inject",
        "z": "e6691547.05bc98",
        "name": "create database table",
        "topic": "CREATE TABLE RANDOMNUM( TIMESTAMP INT PRIMARY KEY NOT NULL, VALUE INT NOT NULL, BOOL INT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "35881632.6e706a"
            ]
        ]
    },
    {
        "id": "de6e047c.26add8",
        "type": "debug",
        "z": "e6691547.05bc98",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 680,
        "y": 101,
        "wires": []
    },
    {
        "id": "d59e6372.41336",
        "type": "inject",
        "z": "e6691547.05bc98",
        "name": "insert data",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "84ae8290.2be1c"
            ]
        ]
    },
    {
        "id": "84ae8290.2be1c",
        "type": "function",
        "z": "e6691547.05bc98",
        "name": "write query",
        "func": "var randomNum = Math.round(Math.random()*100);\nvar largeBool = (randomNum > 50)?1:0;\nvar newMsg = {\n \"topic\": \"INSERT INTO RANDOMNUM VALUES ( \" + msg.payload + \", \" + randomNum + \", \" + largeBool + \")\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "35881632.6e706a"
            ]
        ]
    },
    {
        "id": "aa467606.c19cd8",
        "type": "inject",
        "z": "e6691547.05bc98",
        "name": "view records",
        "topic": "SELECT * FROM RANDOMNUM ORDER BY TIMESTAMP DESC LIMIT 100;",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "e2af09b3.78f348"
            ]
        ]
    },
    {
        "id": "f0db6199.dbd34",
        "type": "inject",
        "z": "e6691547.05bc98",
        "name": "delete records",
        "topic": "DELETE FROM RANDOMNUM WHERE TIMESTAMP <= strftime('%s','now', '-1 hours')*1000",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "35881632.6e706a"
            ]
        ]
    },
    {
        "id": "1620e82a.be3b58",
        "type": "inject",
        "z": "e6691547.05bc98",
        "name": "show counts ",
        "topic": "SELECT COUNT(*) FROM RANDOMNUM",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "35881632.6e706a"
            ]
        ]
    },
    {
        "id": "8284bec6.6187",
        "type": "ui_template",
        "z": "e6691547.05bc98",
        "group": "7a106693.b850b8",
        "name": "UI Table",
        "order": 1,
        "width": "",
        "height": "",
        "format": "<table style=\"width:100%\">\n  <tr>\n    <th>Index</th> \n    <th>Timestamp</th>\n    <th>Value</th> \n    <th>Bool</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].VALUE}}</td> \n    <td>{{msg.payload[$index].BOOL}}</td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 680,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e2af09b3.78f348",
        "type": "litedb",
        "z": "e6691547.05bc98",
        "name": "",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "8284bec6.6187"
            ]
        ]
    },
    {
        "id": "7a106693.b850b8",
        "type": "ui_group",
        "z": "",
        "name": "table",
        "tab": "a9cc4011.4f89a",
        "disp": true,
        "width": "6"
    },
    {
        "id": "a9cc4011.4f89a",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]