Artik-nodes-sample/artik-in-nodes/artik-in-nodes-flow-on-artik.json
[{"id":"389827c2.7caf58","type":"fred in","z":"8a1aa086.977d","name":"","server":"","client":"413262dc.e5d8fc","x":195,"y":304,"wires":[["5468ace6.e51ce4"]]},{"id":"5468ace6.e51ce4","type":"json","z":"8a1aa086.977d","name":"","x":267,"y":372,"wires":[["eeefd39e.e6d93"]]},{"id":"eeefd39e.e6d93","type":"artik_in","z":"8a1aa086.977d","name":"","pin":"pin12","platform":"10","enableInterrupt":true,"edge":"both","debounce":"200","x":316,"y":440,"wires":[["a2135803.796ec8"]]},{"id":"a2135803.796ec8","type":"function","z":"8a1aa086.977d","name":"delete session","func":"delete msg._session;\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":496,"wires":[["165c50be.a9d22f"]]},{"id":"165c50be.a9d22f","type":"fred out","z":"8a1aa086.977d","name":"","server":"","client":"58cdcb80.051604","x":535,"y":552,"wires":[]},{"id":"413262dc.e5d8fc","type":"fred-client","z":"8a1aa086.977d","endpoint":"artikInSend","private":false,"username":"demotutorial","wholemsg":"false"},{"id":"58cdcb80.051604","type":"fred-client","z":"8a1aa086.977d","endpoint":"artikInReceive","private":false,"username":"demotutorial","wholemsg":"false"}]