Artik-nodes-sample/artik-in-nodes/artik-in-nodes-flow-on-artik.json
[{"id":"da3fa5ce.36b308","type":"fred in","z":"890ce43c.afbce8","name":"","server":"","client":"ec8df7dc.19e0d8","x":141,"y":94,"wires":[["813cd36c.523"]]},{"id":"813cd36c.523","type":"json","z":"890ce43c.afbce8","name":"","x":213,"y":162,"wires":[["6c829068.53f5"]]},{"id":"6c829068.53f5","type":"artik_in","z":"890ce43c.afbce8","name":"","pin":"21","enableInterrupt":true,"edge":"both","debounce":"200","x":262,"y":230,"wires":[["3772431.aa436bc"]]},{"id":"3772431.aa436bc","type":"function","z":"890ce43c.afbce8","name":"delete session","func":"delete msg._session;\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":286,"wires":[["f9fe6542.ac5e78"]]},{"id":"f9fe6542.ac5e78","type":"fred out","z":"890ce43c.afbce8","name":"","server":"","client":"87f324de.18f628","x":481,"y":342,"wires":[]},{"id":"ec8df7dc.19e0d8","type":"fred-client","z":"890ce43c.afbce8","endpoint":"artikInSend","private":false,"username":"demotutorial","wholemsg":"false"},{"id":"87f324de.18f628","type":"fred-client","z":"890ce43c.afbce8","endpoint":"artikInReceive","private":false,"username":"demotutorial","wholemsg":"false"}]
